body{
  /* background-color: rgba(128, 199, 199, 0.438); */
  background-image: linear-gradient(50deg, #115da3, #4ecfed);
}
.bg-light {
  background-color: #efefef83 !important;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper-body {
  margin: 1em;
  min-height: 85vh
}
footer{
  min-height: 5vh;
  background-color: linear-gradient(50deg, #4ecfed,#115da3) !important; 

}
.degrees {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 540px) {
  .degrees{
    display: flex;
    flex-direction: column;
  }
}